body{
    margin:0;
    text-align: center;
    font-family: goudy old style,serif;
    font-size: 1.8rem;
    color:rgb(165, 165, 165);
    background-color: #000000;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h1{
    color:#66BFBF;
    margin:50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
  
}
h2{
    color:aqua;
}
h3{
    color:aquamarine;
}
.top{
    /* background-color: #E4F9F5; */
    margin-bottom:40px;
    padding-top: 100px;
    position: relative;
    font-family: goudy old style,serif;
    }
.s1{
    border-radius: 50%;
    margin: 0 auto 0 auto;
    width: 10%;

    }
.s2{
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 0 auto 0 auto;
    width: 25%;
    float: left;
    margin-right: 30px;
    line-height: 50px;

}
.s3{
    border-radius: 50%;
    background-color: whitesmoke;
    margin: 0 auto 10 auto;
    width: 25%;
    float: right;
    margin-left: 30px;
    line-height: 50px;
}
 #skills
{
    /* background-color: #E4F9F5; */
} 
.skill-row
{
    
    width: 50%;
    margin: 0 auto 0 auto ;
    text-align:left;
    line-height: 2;

}
hr{
    border:dotted #66BFBF 6px;
    border-bottom: none;
    width:4%;
    margin: 100px auto;
}

.prok
{
    width:30%;
   margin: auto;
}
.middle-container{
    margin-top: 100px 0;
}
.bottomcloud
{
    position: absolute;
    bottom:400px;
    left:250px;
    border-radius: 100%;
}
.topcloud
{
    position: absolute;
    right: 300px;
    top:50px;
    border-radius: 100%;
}


.p2{
    margin-top: 0;
    clear: right;

}
.contactmsg
{
    width:40%;
    margin: 40px auto 40px;
}
.bottom-container
{
    /* background-color: #66BFBF; */
    padding:50px 0 20px;
}
a{
    color:#036366;
    font-family: 'Dancing Script', cursive;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color:#e1f6f6;
}
.copyright
{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding-top: 40px;

}
.button
{
    position: relative;
    text-align:center;
    width:250px;
    padding:20px;
    font-size: 1.5rem;
    color: #66BFBF;
    font-family: goudy old style,serif;
    border:5px solid  #66BFBF;
    text-transform: uppercase;
    /* letter-spacing: 15px; */
    border-radius: 100px;
    transition: 1.5px;
    margin-bottom: 2rem;
  
}
.button:hover{
    box-shadow: 0 5px 50px #15f4ee inset,0 5px 50px 0 #15f4ee;
}